<md-card class="mainContainer">
  <md-card-header class="Header">
    Welcome back to the MS-SHARE questionnaire.
  </md-card-header>
  <md-card-content>
    <p> [Patient Name], </p>
    <p>Please complete the following questions before your next appointment on [appt date]. All of the information will be sent
      to me so I can review it before we meet. Your answers are confidential and will only be shared with Sutter Health.
      You can stop and save your answers at any time. Return and finish it when you are ready. You can skip questions that
      you don’t wish to answer. Thank you in advance for your time. </p>
    <p> [clinician name] </p>
  </md-card-content>
  <button (click)="next()">Next<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
</md-card>