<md-card class="mainContainer">
  <md-card-header class="Header">
    Follow Up Patient Questionnaire for   {{name}}
  </md-card-header>
  <md-card-content>
    <p>Hello {{name}},</p>
    <p>Thank you for choosing Sutter Health Pulmonology Group!
    </p>
    <p>We are interested in your hearing about your health, wellbeing, and symptoms of your pulmonary condition.
      
      </p>
    <p> If you can’t or don’t want to answer any question, simply tap the “Continue” button. Your provider will discuss your responses during your visit with us today.
    </p>
      <p>Please let your provider know if you’ve been seen by a non Sutter providers.
      </p>
  </md-card-content>

  <div class="btnContainer">
  <button class="btn-left">Exit<i class="fa" aria-hidden="true"></i></button>
  <button  class="btn-right" (click)="next()">Continue<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  <div>