*{ padding: 2px ; margin: 15px;}
*ul {padding: 2px 0px 0px 15px ;}
.Header {font-size: 14px;font-weight: bold}
.mainContainer button i {
    /* padding: 0 .5em; */
    margin: 0;
    padding-left: .4em;
}

.mainContainer button {
    background: #96c0fa;
    background: linear-gradient(to bottom, #96c0fa 8%,#6a9fe5 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c0fa', endColorstr='#6a9fe5',GradientType=0 );
    /* padding: .4em 0 .3em .9em; */
    font-size: 1em;
    margin-right: 1em;
    color: #fff;
    border: solid 1px #96c0fa;
    cursor: pointer;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}

.btnContainer:after{

    display: block; contain: ''; clear: both;
}
.btn-left{
    float: left;
}
.btn-right{
    float: right;
}